:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --bg-section-color: #2f303a;
  --secondary-section-color: #f5f4fa;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000;
  --text-overall-color: #fff;
  --header-border: #ececec;
  --works-title-border: #f6f6f6;
  --icon-color: #afb1b8;
  --icon-form-color: #000;
  --action-duration: 250ms;
  --action-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --doing-item-overlay: rgba(47, 48, 58, 0.8);
  --works-overlay: rgba(33, 150, 243, 0.9);
  --input-border-default: rgba(33, 33, 33, 0.2);
  --submit-hover-color: #188ce8;
}

body {
  background-color: var(--text-overall-color);
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.container--align {
  display: flex;
  align-items: baseline;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

.header {
  border-bottom: 1px solid var(--header-border);
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 95px;
}
@media screen and (min-width: 320px) {
  .site-nav {
    display: none;
  }
}

.site-nav__link {
  color: var(--primary-text-color);
  padding: 32px 0px;
  display: block;
  transition: color var(--action-duration) var(--action-timing-function);
}
.site-nav__link:hover {
  color: var(--accent-color);
}
.site-nav__link:hover::after {
  opacity: 1;
  transform: translatex(0) scale(1) rotate(0deg);
}
.site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transform: translatex(-50%) scale(0.1, 0.1) rotate(-180deg);
  transition: transform var(--action-duration) var(--action-timing-function), opacity var(--action-duration) var(--action-timing-function);
}

.site-nav li {
  position: relative;
}

.site-nav__link--current-page {
  color: var(--accent-color);
  position: relative;
}
.site-nav__link--current-page::after {
  opacity: 1;
  transform: translatex(0) scale(1) rotate(0deg);
}

.site-nav li:not(:last-child),
.auth-nav li:not(:last-child) {
  margin-right: 50px;
}

/* *********auth-nav***** */
.auth-nav {
  display: flex;
  margin-left: auto;
}
@media screen and (min-width: 320px) {
  .auth-nav {
    display: none;
  }
}

.auth-nav__link {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  fill: currentColor;
  transition: color var(--action-duration) var(--action-timing-function);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__icon {
  margin-right: 10px;
}

.logo {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo--accent {
  color: var(--accent-color);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.hero-section__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-overall-color);
  max-width: 360px;
  margin: 0px auto 30px;
}

.hero-section {
  background-color: var(--bg-section-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 118px 0px;
}

.hero-section__container {
  text-align: center;
}

.hero-section__btn {
  background-color: var(--accent-color);
  color: var(--text-overall-color);
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px solid transparent;
  padding: 10px 0px;
}

.section {
  padding: 60px 0;
}
.section--no-indent {
  padding-bottom: 0;
}
.section--background {
  background-color: var(--secondary-section-color);
}

.section__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.features-list__title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-list__description {
  line-height: 1.71;
}
.features-list__item {
  flex-basis: calc((100% - 90px) / 4);
}

.features-list__item:not(:last-child) {
  margin-right: 30px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}/*# sourceMappingURL=main.css.map */