
.client-list {
    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
            flex-basis: calc((100% - 150px) / 6);
        }
    &__item+&__item {
            margin-left: 30px;
        }
    &__box {
            display: flex;
            justify-content: center;
            padding: 16px 0;
            border: 1px solid #afb1b8;
            border-radius: 4px;
            color: var(--icon-color);
            fill: currentColor;
            transition: color var(--action-duration) var(--action-timing-function),
                border-color var(--action-duration) var(--action-timing-function);
            &:hover {
                        color: var(--accent-color);
                        border-color: var(--accent-color);
                    }
        }
}







