.hero-section__title {
    font-weight: 900;
    
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-overall-color);   
    max-width: 360px;
    margin: 0px auto 30px;
    @media screen and (min-width:1200px) {
        font-size: 44px;
            line-height: 1.36; 
            max-width: 696px;
    }
}

.hero-section {
    background-color: var(--bg-section-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-1200.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                        url(../images/hero-1200-x2.jpg);
                
            }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    max-width: 1600px;
    margin: 0 auto;
    padding: 118px 0px;
    
    @media screen and (min-width:1200px) {
        // padding: 200px 0px;
        display: flex;
        height: 600px;
        align-items: center;
        }
    @media screen and (max-width:767px) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero-768.jpg);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/hero-768-@2x.jpg);
    
            }
    
        }
    @media screen and (max-width:480px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero-480.jpg);
        
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/Hero-480-@2x.jpg);
        
            }
            
        }
    

}

.hero-section__container {
    text-align: center;
}

// /* ****hero button***** */
.hero-section__btn {
    background-color: var(--accent-color);
    color: var(--text-overall-color);
    font-size: 16px;
    line-height: 1.9;
    font-weight: 700;
    letter-spacing: 0.06em;
    cursor: pointer;

    display: inline-block;
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px solid transparent;
    padding: 10px 0px;
}