
.address-box {
    // @media screen and (min-width:1199px) {
    //     flex-basis: calc(23%);
    // }
    @media screen and (max-width:767px) {
            margin-bottom: 60px;
        }
    &__link {
            line-height: 1.71;
            font-style: normal;
            text-decoration: none;
            color: var(--address-link-color);
            transition: color var(--action-duration) var(--action-timing-function);
            &--maps-color {
                    color: var(--text-overall-color);
                }
            &:hover,
            &:focus {
                            color: var(--accent-color);
                        }
        }
        
}
.addres-box__item:not(:last-child) {
    margin-bottom: 9px;
}

