.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-form-color);
    fill: currentColor;
    outline: none;
    transition: color var(--action-duration) var(--action-timing-function);
    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

