.section {
    // padding: 94px 0;
    padding: 60px 0;

    &--no-indent {
        @media screen and (min-width:1200px) {
                  padding-bottom: 0;
            }
       
    }
    &--background {
            background-color: var(--secondary-section-color);
    }
    &--vis{
        @media screen and (max-width:1200px) {
                display: none;
            }
    }
}