
.subscribe-box {
    margin-left: auto;
    @media screen and (min-width:768px) and (max-width:1199px) {
        flex-basis: 100%;
        margin-top: 60px;    
        }
    &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--text-overall-color);
            margin-bottom: 20px;
        }
    
}
