:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --bg-section-color: #2f303a;
    --secondary-section-color: #f5f4fa;
    --address-link-color: rgba(255, 255, 255, 0.6);
    --logo-color: #000;
    --text-overall-color: #fff;
    --header-border: #ececec;
    --works-title-border: #f6f6f6;
    --icon-color: #afb1b8;
    --icon-form-color: #000;
    --action-duration: 250ms;
    --action-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --doing-item-overlay: rgba(47, 48, 58, 0.8);
    --works-overlay: rgba(33, 150, 243, 0.9);
    --input-border-default: rgba(33, 33, 33, 0.2);
    --submit-hover-color: #188ce8;
}


